h1 {
    font-family: OpenSans;
    font-size: 27.27px;
    line-height: 27.7px;
    color: #FFFFFF;
}

h2 {
    font-family: OpenSans;
    font-size: 27.27px;
    line-height: 0px;
    color: #FFFFFF;
}

h3 {
    font-family: OpenSans-Semibold;
    font-size: 24px;
    line-height: 0px;
    color: #64C7C4;
}

h4 {
    
}